@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;400;900&display=swap');

body {
    background-color: #717568;
}

.RegisterForm {
    position: fixed;
    top: 20%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: 'Lexend Exa', sans-serif;
}

.RegisterForm-Form a {
    border: 2px solid #3F4739;
    border-radius: 5px;
    padding:.5%  1%;
    background-color: #E1F4CB;
    /* font-weight: 600; */
}

.RegisterForm-Form a:hover {
    background-color: #717568;
    color: white;
}


.RegisterForm-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #3F4739;
    border-radius: 20px;
    padding: 3rem;
    width: 300%;
    height: 200%;
    gap: 1rem;
    background-color: #BACBA9;
    color: #3F4739
    
}

.RegisterForm h1 {
    font-size: 40px;
    margin-bottom: .25rem;
    color: white;
}

.RegisterForm-Form label {
    position: relative;
    right: 21.5rem;
    font-size: 20px;
    /* font-weight: 600; */
}

.RegisterForm-Form input {
    border: none;
    border-radius: 3px;
    width: 75%;
    padding: .5rem 1rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.RegisterForm-Form button {
    border: 2px solid #3F4739;
    border-radius: 5px;
    padding:.5%  1%;
    background-color: #E1F4CB;
    /* font-weight: 600; */
}

.RegisterForm-Form button:hover {
    background-color: #717568;
    color: white;
}

.error {
    background-color: rgb(235, 136, 136);
    padding: .5rem 1rem;
    border: 2px solid rgb(239, 112, 112);
    border-radius: 5px;
  
}